{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Tags</h1>
    <a href="{% url 'tasks:tag-create' %}" class="btn btn-primary">Add tag</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tag_list %}
      <tr>
        <th scope="row">{{ tag.id }}</th>
        <td>{{ tag.name }}</td>
        <td><a href="#" class="btn btn-secondary">Update</a></td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
      </tr>
    {% empty %}
      <th colspan="100%" scope="row" class="text-center">
        There are no tags yet.
      </th>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
